.product-card {
  background: white;
  padding: 20px;
  margin-top: 25px;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
  max-width: 480px;
  width: 100%;
}

.product-card img {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}
